<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="firstName">Enter name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="email">Enter email:</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <div class="form-group">
        <label>Select roles:</label>
        <br/>
        <select id="roles" name="roles" th:field="*{roles}" class="form-control" multiple="multiple"/>
        <option th:each="role : ${roles}" th:value="${role.id}" th:text="${role.getName().substring(5)}" th:selected="${user.getRoles().contains(role)}"></option>
        </select>
    </div>
    <br/>
    <input type="submit" value="Save">
</form>
<a th:href="@{/admin/{id}(id=${user.getId()})}" th:text="'Back'">value</a>
<br/>
<br/>
<hr/>
<a href="/logout">Logout</a>

</body>
</html>