<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>

<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="firstName">Enter name:</label>
    <input type="text" th:field="*{firstName}" id="firstName"/>
    <br/>
    <label for="lastName">Enter lastname:</label>
    <input type="text" th:field="*{lastName}" id="lastName"/>
    <br/>
    <label for="username">Enter username:</label>
    <input type="text" th:field="*{username}" id="username"/>
    <br/>
    <label for="password">Enter password:</label>
    <input type="text" th:field="*{password}" id="password"/>
    <br/>
    <label for="roles">Roles:</label>
    <br/>
    <select class="form-control" id="roles" name="roles" multiple="multiple">
        <option th:each="role : ${roles}"
                th:value="${role.getId()}"
                th:field="*{roles}"
                th:selected="${user.getRoles().contains(role)}"
                th:text="${role.getName().substring(5)}">VALUE</option>
    </select>
    <br/>
    <input type="submit" value="Create">
</form>
<br/>
<br/>
<a th:href="@{/admin}" th:text="'Back to users'">value</a>
<br/>
<hr/>
<a href="/logout">Logout</a>

</body>
</html>