<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User</title>
</head>
<body>
<p th:text="'Username: '+${user.getUsername()}">value</p>
<p th:text="'User id: '+${user.getId()}">value</p>
<p th:text="'First name: '+${user.getFirstName()}">value</p>
<p th:text="'Last name: '+${user.getLastName()}">value</p>

<a th:href="@{/admin/{id}/edit(id=${user.getId()})}">edit</a>

<form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
  <input type="submit" value="Remove"/>
</form>

<a th:href="@{/admin}" th:text="'Back to users'">value</a>
<br/>
<br/>
<hr/>
<a href="/logout">Logout</a>
</body>
</html>